{
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "extends": [
    "airbnb",
    "airbnb/hooks",
    "airbnb-typescript",
    "plugin:@typescript-eslint/recommended"
  ],
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "rules": {
    "import/prefer-default-export": 0,
    "react/jsx-one-expression-per-line": 0,
    "jsx-a11y/click-events-have-key-events": 0,
    "jsx-a11y/no-noninteractive-element-interactions": 0,
    "jsx-a11y/label-has-associated-control": 0,
    "react-hooks/exhaustive-deps": 0,
    "radix": 0,
    "jsx-a11y/anchor-is-valid": 0,
    "react/jsx-closing-bracket-location": [1, "after-props"],
    "no-nested-ternary": 0,
    "no-underscore-dangle": 0,
    "@typescript-eslint/no-explicit-any": 0,
    "react/require-default-props": 0,
    "@typescript-eslint/explicit-module-boundary-types": 0,
    "@typescript-eslint/no-unused-vars": 0,
    "@typescript-eslint/lines-between-class-members": 0,
    "react/jsx-props-no-spreading": 0
  },
  "globals": {
    "document": true,
    "window": true,
    "__": true,
    "FileReader": true,
    "localStorage": true,
    "toastr": true
  }
}
