@import "variables";
@import "reset";
@import "container";
@import "structure";
@import "form";

html, body {
  background-color: $background-color;
  * {
    font-family: 'Roboto', sans-serif;
    color: $color-2;
  }
}

table button {
  font-size: 12px;
}
