@mixin pm-value($pm-prop, $i) {
  #{$pm-prop}: ($pm-base * ($i));
}

@mixin border($border-color: $color-6) {
  border: 1px solid $border-color;
}

@each $index, $color in (
  1: $color-1,
  2: $color-2,
  3: $color-3,
  4: $color-4,
  5: $color-5,
  6: $color-6
) {
  .color-#{$index} {
    color: $color;
  }
}

@each $align in (left, center, right, justify) {
  .text-#{$align} {
    text-align: $align;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -$padding-base;
  margin-right: -$padding-base;

  @for $i from 1 through $max-columns {
    .col-#{$i} {
      width: 100% / ($max-columns / $i);
      padding-left: $padding-base;
      padding-right: $padding-base;
    }
  }
}

@for $i from 1 through $pm-max-number {
  .mt-#{$i} {
    @include pm-value(margin-top, $i);
  }

  .mb-#{$i} {
    @include pm-value(margin-bottom, $i);
  }

  .mr-#{$i} {
    @include pm-value(margin-right, $i);
  }

  .ml-#{$i} {
    @include pm-value(margin-left, $i);
  }

  .my-#{$i} {
    @include pm-value(margin-top, $i);
    @include pm-value(margin-bottom, $i);
  }

  .mx-#{$i} {
    @include pm-value(margin-right, $i);
    @include pm-value(margin-left, $i);
  }

  .pt-#{$i} {
    @include pm-value(padding-top, $i);
  }

  .pb-#{$i} {
    @include pm-value(padding-bottom, $i);
  }

  .pr-#{$i} {
    @include pm-value(padding-right, $i);
  }

  .pl-#{$i} {
    @include pm-value(padding-left, $i);
  }

  .py-#{$i} {
    @include pm-value(padding-top, $i);
    @include pm-value(padding-bottom, $i);
  }

  .px-#{$i} {
    @include pm-value(margin-right, $i);
    @include pm-value(padding-left, $i);
  }
}

table {
  width: 100%;
  border-collapse: collapse;

  tr:nth-child(even) {background-color: $color-4;}

  th, td {
    padding: $padding-base;
    text-align: left;
  }
}

.pagination {
  .page-item {
    @include border($color-3);
    float: left;
    font-size: 20px;
    border-radius: $border-radius;
    text-align: center;
    background-color: #fff;
    margin-right: $margin-base;
    user-select: none;

    .page-link {
      text-decoration: none;
      color: $color-3;
      display: block;
      min-width: 40px;
      padding: $padding-base;
    }

    a.page-link {
      cursor: pointer;
    }

    &.active {
      @include border($color-1);
      background-color: $color-1;
      .page-link {
        color: #fff;
      }
    }
  }
}

.clear-both {
  clear: both;
}

button {
  border: 1px solid $color-3;
  background-color: #fff;
  padding: $padding-base;
  color: $color-2;

  @include border-radius;
}
