$background-color: #fff;

$color-1: #7fa8b3;
$color-2: #434242;
$color-3: #9c89b8;
$color-4: #62ba9e;
$color-5: #999;
$color-6: #ccc;

$border-radius: 3px;
$max-columns: 12;

$padding-base: 10px;
$margin-base: 10px;

$pm-max-number: 5;
$pm-base: 5px;
