$background-color: #fff;

$color-1: #151515;
$color-2: #95989a;
$color-3: #999;
$color-4: #f2f2f2;
$color-5: #999;
$color-6: #ccc;

$border-radius: 3px;
$max-columns: 12;

$padding-base: 10px;
$margin-base: 10px;

$pm-max-number: 5;
$pm-base: 5px;

@mixin border-radius {
  border-radius: $border-radius;
}
